h1 {color: red;
		font size: 300%}

body {background: lightgrey;
		color: black;
		font: 14pt;
		font-family: 'Fira Sans Extra Condensed', sans-serif;}
		
		
a {color: darkblue}
a:hover { color: white}