h1 {color: red;
		font size: 300%}

body {background: lightyellow;
		color: darkgray;
		font: 14pt;
		font-family: 'Fira Sans Extra Condensed', sans-serif;}
		
		
a {color: darkgreen}
a:hover { color: lightgreen}